span::first-letter{
    color: red;
    font-style: italic;
    font-size: xx-large;
}
/* div::first-letter{
    color: red;
    font-style: italic;
    font-size: xx-large;
} */


p::first-line{
    color: rgb(5, 255, 92);
    font-style: italic;
    font-size: xx-large;
}

p::selection{
    background-color: red;
    color: yellow;
}

ul li::marker{
    content: "/f3ed";
    font-family: ;
    font-weight: bold;
}

ol li:nth-child(even)::marker{
    content:" 😍";

}

ol li:nth-child(odd)::marker{
    content:" 😒";

}

ol>li:nth-child(2)::marker,
ol>li:nth-child(5)::marker
{  
    content: "😂";

}
