*,*::after,*::before{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100vw;
   
}
header{
    background-color: black;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    font-size: 24px;
    color: white;
    text-decoration: none;
    
}
.hero-section{
    background-color: skyblue;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.hero-section .wrapper{
    border: 2px solid black;
    height: 400px;
    width: 1000px;
    padding: 4rem 3rem ;
    /* overflow: hidden; */
   background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
   background-repeat: no-repeat;
   background-position: center;
    background-size: 100% 100%;
    
}
.hero-section .wrapper h2{
    color: white;
    font-style: bold;
    font-weight: 600;
    margin-bottom: 20px;

}
.hero-section .wrapper p{
    color: white;
    text-align: justify;
    line-height: 25px;
    font-size: 20px;
    overflow: hidden;

   
}

.hero-section .wrapper p::selection{
    background-color: green;
    color: yellow;
}
.hero-section :hover{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.73) 40%,transparent 60%,rgba(0, 0, 0, 0.221) 70%),url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  
}
